<div id="main-container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand text-white">Employee Manager</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
      aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">

      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse" id="navbarColor02">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" (click)="onOpenModal(null, 'add')">
            Add Employee
          </a>
        </li>
      </ul>

      <form class="form-inline my-2 my-lg-0 ml-auto">
        <input type="search" (ngModelChange)="onSearch(key.value)" #key="ngModel" ngModel name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search employees...">
      </form>
    </div>
  </nav>

  <div class="container mt-4">

    <div class="row">
      <!--Car Inicio-->
      <div *ngFor="let employee of employees()" class="col-md-6 col-xl-3">
        <div class="card m-b-30">

          <div class="card-body row">

            <div class="col-6">
              <a href="#">
                <img src="{{ employee?.imgUrl }}" alt="{{ employee?.name }}" class="img-fluid rounded-circle w-60">
              </a>
            </div>

            <div class="col-6 card-title align-self-center mb-0">
              <h5>{{ employee?.name }}</h5>
              <p class="m-0">{{ employee?.jobTitle }}</p>
            </div>

          </div>

          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <i class="fa fa-envelope float-right"></i>
              Email :
              <a href="mailto:{{ employee?.email }}">
                {{ employee?.email }}
              </a>
            </li>

            <li class="list-group-item">
              <i class="fa fa-phone float-right"></i>
              Phone : {{ employee?.phone }}
            </li>
          </ul>
          <div class="card-body">
            <div class="float-right btn-group btn-group-sm">
              <a (click)="onOpenModal(employee, 'edit')" class="btn btn-primary tooltips" data-placement="top"
                data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
              <a (click)="onOpenModal(employee, 'delete')" class="btn btn-secondary tooltips" data-placement="top"
                data-original-title="Delete"><i class="fa fa-times"></i></a>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>

  <!--  Edit Modal -->
  <div class="modal fade" id="editEmployeeModal" tabindex="-1" aria-labelledby="modalUsuarioLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <!-- Encabezado -->
        <div class="modal-header bg-light">
          <h5 class="modal-title" id="modalUsuarioLabel">
            <i class="bi bi-person-bounding-box me-2 text-primary"></i>Editar Información del Perfil
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <!-- Formulario incorporado en el cuerpo -->
        <form #editForm="ngForm" (ngSubmit)="onEditEmployee(editForm.value)">
          <div class="modal-body">

            <!-- Fila 1: Nombre completo -->
            <div class="mb-3">
              <label for="inputName" class="form-label fw-semibold">Nombre Completo</label>
              <input type="text" name="name"  [ngModel]="editEmployee()?.name" class="form-control" id="inputName" placeholder="Ej. Juan Pérez"
                required>
            </div>

            <!-- Fila 2: Correo Electrónico -->
            <div class="mb-3">
              <label for="inputEmail" class="form-label fw-semibold">Correo Electrónico</label>
              <input type="email" name="email" [ngModel]="editEmployee()?.email" class="form-control" id="inputEmail"
                placeholder="juan.perez@empresa.com" required>
            </div>

            <!-- Fila 3: Puesto de trabajo & Teléfono (Dos columnas) -->
            <div class="row g-3 mb-3">
              <div class="col-md-6">
                <label for="inputJob" class="form-label fw-semibold">Puesto (Job Title)</label>
                <input type="text" name="jobTitle" [ngModel]="editEmployee()?.jobTitle" class="form-control" id="inputJob"
                  placeholder="Ej. Desarrollador Web" required>
              </div>
              <div class="col-md-6">
                <label for="inputPhone" class="form-label fw-semibold">Teléfono</label>
                <input type="tel" name="phone"  [ngModel]="editEmployee()?.phone" class="form-control" id="inputPhone"
                  placeholder="+51 987 654 321">
              </div>
            </div>

            <!-- Fila 4: URL de la Imagen -->
            <div class="mb-2">
              <label for="inputImgUrl" class="form-label fw-semibold">URL de la Imagen de Perfil</label>
              <div class="input-group">
                <span class="input-group-text" id="url-addon"><i class="bi bi-link-45deg"></i></span>
                <input type="url" name="imgUrl" [ngModel]="editEmployee()?.imgUrl" class="form-control" id="inputImgUrl"
                  placeholder="https://ejemplo.com" aria-describedby="url-addon">
              </div>
              <div class="form-text text-muted">Ingresa un enlace directo a la imagen (jpg, png, etc.)</div>
            </div>
            
            <input type="hidden" [ngModel]="editEmployee()?.id" name="id">
            <input type="hidden" [ngModel]="editEmployee()?.employeeCode" name="employeeCode">


          </div>

          <!-- Pie de página con botones de acción -->
          <div class="modal-footer bg-light">
            <button type="button" id="cancelEditEmployeeBtn" class="btn btn-outline-secondary"
              data-bs-dismiss="modal">Cancelar</button>
            <button [disabled]="!editForm.valid" type="submit" class="btn btn-primary px-4">Guardar Registro</button>
          </div>
        </form>

      </div>
    </div>
  </div>


  <!--  Add Modal -->
  <div class="modal fade" id="addEmployeeModal" tabindex="-1" aria-labelledby="modalUsuarioLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <!-- Encabezado -->
        <div class="modal-header bg-light">
          <h5 class="modal-title" id="modalUsuarioLabel">
            <i class="bi bi-person-bounding-box me-2 text-primary"></i>Información del Perfil
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <!-- Formulario incorporado en el cuerpo -->
        <form #addForm="ngForm" (ngSubmit)="onAddEmployee(addForm)">
          <div class="modal-body">

            <!-- Fila 1: Nombre completo -->
            <div class="mb-3">
              <label for="inputName" class="form-label fw-semibold">Nombre Completo</label>
              <input type="text" ngModel name="name" class="form-control" id="inputName" placeholder="Ej. Juan Pérez"
                required>
            </div>

            <!-- Fila 2: Correo Electrónico -->
            <div class="mb-3">
              <label for="inputEmail" class="form-label fw-semibold">Correo Electrónico</label>
              <input type="email" ngModel name="email" class="form-control" id="inputEmail"
                placeholder="juan.perez@empresa.com" required>
            </div>

            <!-- Fila 3: Puesto de trabajo & Teléfono (Dos columnas) -->
            <div class="row g-3 mb-3">
              <div class="col-md-6">
                <label for="inputJob" class="form-label fw-semibold">Puesto (Job Title)</label>
                <input type="text" ngModel name="jobTitle" class="form-control" id="inputJob"
                  placeholder="Ej. Desarrollador Web" required>
              </div>
              <div class="col-md-6">
                <label for="inputPhone" class="form-label fw-semibold">Teléfono</label>
                <input type="tel" ngModel name="phone" class="form-control" id="inputPhone"
                  placeholder="+51 987 654 321">
              </div>
            </div>

            <!-- Fila 4: URL de la Imagen -->
            <div class="mb-2">
              <label for="inputImgUrl" class="form-label fw-semibold">URL de la Imagen de Perfil</label>
              <div class="input-group">
                <span class="input-group-text" id="url-addon"><i class="bi bi-link-45deg"></i></span>
                <input type="url" ngModel name="imgUrl" class="form-control" id="inputImgUrl"
                  placeholder="https://ejemplo.com" aria-describedby="url-addon">
              </div>
              <div class="form-text text-muted">Ingresa un enlace directo a la imagen (jpg, png, etc.)</div>
            </div>

          </div>

          <!-- Pie de página con botones de acción -->
          <div class="modal-footer bg-light">
            <button type="button" id="cancelAddEmployeeBtn" class="btn btn-outline-secondary"
              data-bs-dismiss="modal">Cancelar</button>
            <button [disabled]="!addForm.valid" type="submit" class="btn btn-primary px-4">Guardar Registro</button>
          </div>
        </form>

      </div>
    </div>
  </div>

  <!--  Delete Modal -->
  <div class="modal fade" id="deleteEmployeeModal" tabindex="-1" aria-labelledby="modalUsuarioLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <!-- Encabezado -->
        <div class="modal-header bg-light">
          <h5 class="modal-title" id="modalUsuarioLabel">
            <i class="bi bi-person-bounding-box me-2 text-primary"></i>Información del Perfil
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <!-- Formulario incorporado en el cuerpo -->
        <form #deleteForm="ngForm">
          <div class="modal-body">
            <p>¿Estás seguro de que deseas eliminar este registro?</p>
            <p class="text-danger">Esta acción no se puede deshacer.</p>

            <input type="hidden"  name="id">
          </div>

          <!-- Pie de página con botones de acción -->
          <div class="modal-footer bg-light">
            <button type="button" id="cancelDeleteEmployeeBtn" class="btn btn-outline-secondary"
              data-bs-dismiss="modal">Cancelar</button>
            <button (click)="onDeleteEmployee(deleteEmployee()!.id)" color="danger" type="submit" class="btn btn-danger px-4">Eliminar Registro</button>
          </div>
        </form>

      </div>
    </div>
  </div>


  <div *ngIf="employees().length == 0" class="col-lg-12 col-md-12 col-xl-12">

    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">NO EMPLOYEES!</h4>
      <p>No Employees were found.</p>
    </div>

  </div>